body{
    background-color: lightcoral;
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:snow;
}
.a{
    height: 750px;
    width: 100%;
    border: 2px solid black;
    margin: 6px;
    padding: 20px;
}
.a:hover{
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: floralwhite;

}
.b{
    height: 350px;
    width: 100%;
    border: 2px solid black;
    margin: 6px;
    padding: 20px;
}
.b:hover{
    text-transform: lowercase;
    color: firebrick;
    transition: 2s;
}
.c{
    height: 110px;
    width: 100%;
    border: 2px solid black;
    margin: 6px;
    padding: 20px;
}
.c:hover{
    background-color: white;
    transition: 4s;
    color: red;
}
.d{
    height: 170px;
    width: 100%;
    border: 2px solid black;
    margin: 6px;
    padding: 20px;
}
.d:hover{
    border-radius: 40px;
}
b{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    background-color: white;
}
