.A{
    height: 500px;
    width: 700px;
    border: 2px solid black;
    margin-left:auto;
    margin-right: auto;
    margin-top: 120px;
    border-color: brown;
}
b{
    font-size: 40px;
    color: darkblue;
}
p{
    font-size: 20px;
    color: blueviolet;
}
body{
    background-color: pink;
}
thead tr th{
    border: 4px dotted darkmagenta;
    width: 50%;
    font-family: monospace;
    font-size:xx-large
}
tbody tr td{
    padding: 10px;
    border: 2px solid black;
}